.Logo {
    height: 16vmin;
    width: 16vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/KBCX6Rj.jpg');
    background-size: 33vmin;
    background-position: center;
    color: black;
    font-size: 2.4vmin;
    font-family: 'Kanit', sans-serif;
    border: .1vmin solid black;
    border-radius: 50%;
    }

    .rotate {
    transform: rotate(-45deg);
    padding: 11px;
}